
//Colors Base
$primary: #161b22;
$secundary: #0c2245;
$dark-gray: #363636;
$light-grey: #d8d8d8;
$border-green: 1px solid #035f15;


//btn-google
$white: #fff;
$google-blue: #ffe100f5;
$button-active-blue: #1669f2;